@font-face {
    font-family: 'BaseFont';
    font-weight: 100;
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Regular.eot');
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Regular.eot?#iefox') format('embedded-opentype'),
         url('/assets/fonts/Avenir/AvenirNextCyr-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'BaseFont';
    font-weight: 400;
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Medium.eot');
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Medium.eot?#iefox') format('embedded-opentype'),
         url('/assets/fonts/Avenir/AvenirNextCyr-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BaseFont';
    font-weight: 600;
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Demi.eot');
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Demi.eot?#iefox') format('embedded-opentype'),
         url('/assets/fonts/Avenir/AvenirNextCyr-Demi.ttf') format('truetype');
}

@font-face {
    font-family: 'BaseFont';
    font-weight: 700;
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Bold.eot');
    src: url('/assets/fonts/Avenir/AvenirNextCyr-Bold.eot?#iefox') format('embedded-opentype'),
         url('/assets/fonts/Avenir/AvenirNextCyr-Bold.ttf') format('truetype');
}