@font-face {
    font-family: 'roboto-condensed';
    font-weight: 200;
    src: url('~@/assets/fonts/roboto-condensed/RobotoCondensed-Light.ttf') format('truetype')
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: 400;
    src: url('~@/assets/fonts/roboto-condensed/RobotoCondensed-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'roboto-condensed';
    font-weight: 600;
    src: url('~@/assets/fonts/roboto-condensed/RobotoCondensed-Bold.ttf') format('truetype')
            
}